@model QuizManager.Models.AnswerOption

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Answer?</h3>
@if (!string.IsNullOrEmpty(Model.AnswerText))
{
    <h4><i>'@Html.DisplayFor(model => model.AnswerText)'</i></h4>
}
<div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="QuestionId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Edit" asp-controller="Questions" asp-route-id="@Model.QuestionId">Cancel</a>
    </form>
</div>
