@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Quiz Manager</h1>
    <p class="lead">Please login to access the quiz database</p>
    <hr class="my-4">
    <p>Registration for new users is not currently supported</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/Account/Login" role="button">Login</a>
    </p>
</div>
