@model QuizManager.Models.Quiz

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete '@Html.DisplayFor(model => model.Name)'?</h3>
<h4>This action cannot be undone</h4>
<div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="QuizId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>
</div>
