@model QuizManager.Models.Question

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete Question @Model.Position?</h3>
<h4><i>'@Html.DisplayFor(model => model.QuestionText)'</i></h4>
<div>
    <hr />

    <form asp-action="Delete">
        <input type="hidden" asp-for="QuestionId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-light" asp-action="Details" asp-controller="Quizzes" asp-route-id="@Model.QuizId">Cancel</a>
    </form>
</div>
