@model Question

@{
    ViewData["Title"] = "Edit";
}
<h4>Edit Question</h4>
<hr/>
<div class="container-fluid">
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="QuestionId"/>
    <input type="hidden" asp-for="QuizId"/>
    <input type="hidden" asp-for="Position"/>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label asp-for="QuestionText" class="control-label"></label>
                <input asp-for="QuestionText" class="form-control"/>
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
        </div>
    </div>
    @{
        var answerCounter = 0;
    foreach (var answer in Model.AnswerOptions)
        {
        <div class="row">
            <div class="col-6">
                <input type="hidden" asp-for="AnswerOptions[answerCounter].QuestionId"/>
                <input type="hidden" asp-for="AnswerOptions[answerCounter].AnswerOptionId"/>
                <input asp-for="AnswerOptions[answerCounter].AnswerText" class="form-control"/>
            </div>
            <div class="col-1">
                <input type="checkbox" asp-for="AnswerOptions[answerCounter].Correct">
            </div>
            <div>
                <a asp-action="Delete" asp-controller="AnswerOptions" asp-route-id=@answer.AnswerOptionId>delete</a>
            </div>
        </div>
        answerCounter += 1;
        }
    }
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>
</div>


<div>
    <a asp-action="Details" asp-controller="Quizzes" asp-route-id="@Model.QuizId">Back to Quiz</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('input:checkbox').click(function() {
                $('input:checkbox').not(this).prop('checked', false);
            });
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

}